html, body
{
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, button
{
    display: block;
}